.list-item {
  width: 40%;
  border: 1px solid black;
  border-radius: 0.5rem;
  height: 20%;
  background-color: lightgray;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
p {
  margin: 0 auto;
}
