.list-item {
  width: 40%;
  height: 20%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
p {
  margin: 0 auto;
}
