.nav-bar {
  width: 100%;
  padding: 0.5rem;
  background-color: #0f0ffccb;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  .content {
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  .brand {
    display: flex;
    align-items: center;
    color: white;
    margin: 0 auto;
  }
}
.bars {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 1rem;
    li {
      margin: 0 2rem;
      a {
        text-decoration: none;
        color: white;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
